node_modules/
dist/
!build_all.sh
.tools/
build/
apps/api/dist/
apps/web/dist/
apps/miniprogram/dist/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/DocSets/
*.iml
.idea/
.vscode/
.DS_Store
coverage/
.env
.env.*
apps/flutter_app/.dart_tool/
apps/flutter_app/build/
apps/miniprogram/dist/
*.log
